In [1]:
import pandas as pd
import ipynb.fs.full.format_datas as fd
import numpy as np

In [2]:
df_companies = pd.read_excel(r'datas/Gymlib_data_entretien.xlsx', sheet_name='Companies', header=None)
df_pass = pd.read_excel(r'datas/Gymlib_data_entretien.xlsx', sheet_name='Pass')
df_users = pd.read_excel(r'datas/Gymlib_data_entretien.xlsx', sheet_name='Utilisateurs')

In [3]:
df_companies_formatted = fd.format_df_companies(df_companies)

In [4]:
df_companies_08_2019 = fd.create_df_companies_date(df_companies_formatted, '08_2019')
df_companies_09_2019 = fd.create_df_companies_date(df_companies_formatted, '09_2019')
df_companies_10_2019 = fd.create_df_companies_date(df_companies_formatted, '10_2019')

1   MRR entreprise  Effectif eligible
1   MRR entreprise  Effectif eligible
2             6395               2808
3             5500               5500
4          4205.11                178
5          3651.52               4000
6              600                293
7              200                  8
8           3062.5                360
9              458                 15
10            1552                160
11            1000                200
1   MRR entreprise  Effectif eligible
1   MRR entreprise  Effectif eligible
2             6395               2808
3             5500               5500
4          4205.11                178
5          3651.52               4000
6              600                293
7              200                  8
8           3062.5                360
9              458                 15
10            1552                160
11            1000                200
1   MRR entreprise  Effectif eligible
1   MRR entreprise  Effectif eligible
2             9000               2808
3             7000               5500
4          4564.07                178
5             5360               4000
6              600                293
7              200                  8
8           3062.5                360
9              458                 15
10            1552                160
11            1000                200

In [5]:
#df_pass = df_pass.astype({'code': 'int', 'gym_id': 'string', 'date': 'date', 'user_id': 'string', 'companyid': 'string', 'total_par_pass': 'float'})
#df_users = df_users.astype({'id': 'string', 'companyid': 'string','zipcode': 'int', 'country': 'string', 'age' : 'int', 'statut_user': 'string'})

In [6]:
df_users = fd.format_df_users(df_users)
df_pass = fd.format_df_pass(df_pass)

In [7]:
df_companies_08_2019

1   company_id MRR entreprise Effectif eligible     date
2    208732121           6395              2808  08/2019
3    294892643           5500              5500  08/2019
4    323246782        4205.11               178  08/2019
5    380070690        3651.52              4000  08/2019
6    461510553            600               293  08/2019
7    674264823            200                 8  08/2019
8    825995937         3062.5               360  08/2019
9    863285309            458                15  08/2019
10   881725560           1552               160  08/2019
11  2120362044           1000               200  08/2019